.inputBg  {
    /* background-color: #dfc298; */
    /* background-color: #e5d8c9; */
    background-color: #FBF8EE;
    border: 1px solid black;
    /* color: white; */
  }
  
.buttonBg {
    background-color: #7C5026;
}

a {
    color: white
}

.iconBg {
    background-color: #dfc298;
}

/* DatePicker {
    width: 150px;
}

TimePicker {
    width: 150px;
} */

.sameWidth {
    width: 130px;
}