.container {
    display: flex;
}

.row {
    flex: 1;
    flex-wrap: wrap;
    /* Take up remaining horizontal space */
}

.column {
    /* Equal-width columns */
    padding: 10px;
    width: 50%;
}