.component {
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    background-color: white;
}

.blueBg {
    background-color: navy;
}

.option {
    border-radius: 0.75rem;
    padding: 0.5rem;
    border: 1px solid #7C5026;
    /* background-color: #FBF8EE; */
}

.iconBg {
    background-color: #5B74B3;
}

a {
    color: navy;
    font-weight: bold;
}

.inputBg {
    border: 1px solid black;
}

.sameWidth {
    width: 130px;
}